@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


@font-face {
  font-family: "graphik";
  src: local("GraphikRegular"),
    url("../../assets/fonts/GraphikRegular.otf");
  font-weight: normal;
}

.card-container {
  padding: 30px;
  border-radius: 40px;
  margin-bottom: 30px !important;
  height: fit-content !important;

  @media (max-width: 600px) {
    padding: 5px;
  }

  .leftContent {
    width: 70%;
    @media (max-width: 1550px) {
      width: 100%;
    }
  }

  .rightContent {
    width: 30%;
    padding-left: 20px;
    @media (max-width: 1550px) {
      width: 100%;
    }
  }

  .grid-item {
    padding: 5px !important;
    background-color: #FFFFFF;
    border-radius: 20px;
    max-width: 32%;
    margin: 5px;

    @media (max-width: 1200px) {
      max-width: 100%;
    }

    .MuiSkeleton-root {
      height: 1.2em;
      /* display: block; */
      background-color: rgb(227 227 227) !important;
    }

    .label-container {
      min-height: 50px;
      margin: 0px;
      padding: 10px 10px;
      @media (max-width: 600px) {
        padding: 0px;
      }

      .label-Frame {
        display: flex;
        color: #00000091;
        padding: 15px;
        padding-bottom: 15px;
        font-size: 21px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        @media (max-width: 1500px) {
          font-size: 18px;
        }
      }

      .label-title {
        font-size: 20px;
        display: flex;
        // align-items:center;
        margin-bottom: 10px;
        text-align: left;
        min-height: 50px;
        font-weight: 500;
        color:#77abf9 ;
        @media (max-width: 600px) {
          font-size: 25px;
          min-height: 30px;
        }
        @media (max-width: 1500px) {
          font-size: 21px;
          min-height: 40px;
        }
      }

      .label-value {
        display: flex;
        justify-content: center;
        font-size: 24px;
      }
    }

    .progressbar-container {
      padding: 10px;
      margin: 10px;
      background-color: #0004;
      border-radius: 50%;

    }

    .claim-button {
      margin-top: 30px;
      height: 60%;
      padding: 10px 5px;
      font-size: 20px;
      color: white;
      border-style: none;
      border-radius: 10px;
      background: linear-gradient(90deg, #4786D6 37.02%, #2d689e 100%);
      @media (min-width: 1700px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
      @media (max-width: 1920px) {
        width: 90%;
      }
    }

    .claim-button:hover {
      // border-style: solid;
      background: #0495B7;
    }

    .claim-button:disabled {
      background: #0004 !important;
    }

  }
  .descriptionText {
    font-size: 21px;
    font-family: graphik, sans-serif;
    margin: 10px;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
  .descriptionPanel {
    margin-top: 20px;
    margin-bottom: 50px;
    @media (max-width: 600px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}


.title-small {
  font-family: graphik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.15em;

  color: #0495B7;
}

.title-medium {
  font-family: graphik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  letter-spacing: 0.105em;

  color: #FFFFFF;
}

.title-big {
  margin-top: 15px;
  margin-bottom: 65px;
  // font-family: 'Montserrat';
  font-family: graphik, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 39px;
  letter-spacing: -0.02em;
}

.title-text2 {
  border-bottom: inset;
  border-color: #ffffb3;
  border-width: thin;
  text-align: center;
  font-size: 20px;
  color: #ffffffb3;
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.smaller {
  .ohm-card {
    width: 97%;
  }

  .hero-metrics .ohm-card {
    >.MuiBox-root {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    div.metric {
      text-align: left !important;
    }
  }
}

.mobile {
  div.metric {
    white-space: nowrap;
    min-width: 30% !important;
    max-width: 60%;
    text-align: left !important;

    &.market,
    &.price,
    &.wsoprice,
    &.circ,
    &.bpo,
    &.index {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.very-small {
  .hero-metrics .ohm-card {
    >.MuiBox-root {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.header-title {
  font-family: graphik, sans-serif;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-border {
  border: solid 1px #c59c20;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
  background-color: #000D56 !important;
  opacity: 0.9;
  margin-bottom: 20px;
}

.MuiDialog-paper {
  background: #4e84f4 !important;
}

.MuiCircularProgress-root {
  width: 35px !important;
  height: 35px !important;
}

.MuiCircularProgress-colorSecondary {
  color: #4e84f4 !important;
}

.page-container {
  display: flex;
  justify-content: space-between;
}